<div class="container">
    <div class="row justiy-content-center alingt-items-center text-center">
        <div class="col-12">

            <div class="alert alert-success " role="alert">
                    <h1>hola que tal</h1>
                    {{mensaje}}
                    
            </div>
                                   <a href="/frutasYjugos/1_administrador" class="btn btn-block">retornar</a>
        </div>
    </div>
</div>
