

<div class="container">
    <div class="row justiy-content-center alingt-items-center text-center">
        <div class="col-12">

            <div class="alert alert-success " role="alert">
                    {{mensaje}}
            </div>
                        <a href="/" class="btn btn-block">retornar</a>
        </div>
    </div>
</div>
